body{
    background-image: url('/static/image/covid-fmcg.jpg')
      }
    
      body{
        background-size:cover;
      }


    b{
        color: rgb(114, 17, 17);
        text-align: center;
        font-style: italic;
        font-size: xx-large;
    }


    h4{
        color: rgb(114, 17, 17);
        text-align: center;
        font-style: italic;
        font-size: xx-large; 
    }

    h1{
        
        color: rgb(114, 17, 17);
        text-align: center;
        font-style: italic;
        font-size: xx-large; 
    }